#pane1{
       -fx-background-image: url("/home.jpg");
       -fx-background-repeat: stretch;
       -fx-background-size: 100% 100%;
       -fx-background-position: center center;
       -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.button {
    -fx-background-color: derive(#4d92c9, 30%), #90ceff ; 
    -fx-background-insets: 0, 1px ;
    -fx-background-radius: 4px, 0 ;
}

.button:hover {
    -fx-background-color:  #32bbe0, derive(#dcf0ff, -5%) ;
}

#quit{
	-fx-background-color: derive(black, 30%), #bb2e2e ; 
    -fx-background-insets: 0, 1px ;
    -fx-background-radius: 4px, 0 ;
}

#quit:hover {
    -fx-background-color:  #32bbe0, derive(#ff8888, -5%) ;
}


#scroll-pane > .viewport {
	-fx-background-color: transparent;
}

#scroll-pane {
	-fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #90ceff, linear-gradient(to right, derive( #334db3,95%), derive( #90ceff,10%)), linear-gradient(to right, derive( #90ceff,38%), derive(#90ceff,-16%));
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em;
}